@model IEnumerable<FinalProject.Models.BooksHaveAuthors>

@{
    Layout = "_Layout";
    var title = "READ BooksHaveAuthors";
    ViewData["Title"] = title;
}

<h2>@title</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Book_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Authors.Author_name)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id1 = item.Book_id, id2 = item.Author_id })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id1 = item.Book_id, id2 = item.Author_id })
                </td>
            </tr>
        }
    </tbody>
</table>


